<!-- IT105 SLAM with Turtlebot -->
<launch>
  <machine
    name="ros11"
    address="192.168.200.202"
    user="user1"
    password="it105rocks"
    timeout="10"
    env-loader="/home/user1/catkin_ws/devel/remote_env_loader.sh"
  />


    <include file="$(find turtlebot_bringup)/launch/minimal.launch" />
    <include file="$(find turtlebot_navigation)/launch/amcl_demo.launch" />
    <include file="$(find turtlebot_teleop)/launch/xbox360_teleop.launch" />
    <include file="$(find turtlebot_rviz_launchers)/launch/view_navigation.launch" />

</launch>
