<!-- IT105 SLAM with Turtlebot -->
<launch>

    <include file="$(find turtlebot_bringup)/launch/minimal.launch" />
    <include file="$(find turtlebot_navigation)/launch/amcl_demo.launch" />
    <!-- <include file="$(find turtlebot_teleop)/launch/xbox360_teleop.launch" />
    <include file="$(find turtlebot_rviz_launchers)/launch/view_navigation.launch" /> 

<param name="/amcl/initial_pose_x" type="double" value="18.07" />
<param name="/amcl/initial_pose_y" type="double" value="17.04" />
<param name="/amcl/initial_pose_a" type="double" value="2.351" />  -->

</launch>
