#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/opt/ros/kinetic/share/turtlesim/images/kinetic.png
Name[en_US]=TH460 Navigation
Name=Turtle Navigating
Icon=/opt/ros/kinetic/share/turtlesim/images/kinetic.png
Exec=terminator -x sshpass -p "odroid" ssh -t -o StrictHostKeyChecking=no odroid@192.168.200.43 'bash -ic "roslaunch usma_turtlebot th460_it105demo.launch" '

